  html, body {
        height: 100%;
      }
    
      body {
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
        color: black;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
      
      [drawer] {
        background-color: #FFFFFF;
        /*border-right: 1px solid #ccc;*/
      }
      
      [main] {
        background-color: #E5E5E5;
      }
      
      button {
        width: 160px;
        height: 40px;
        font-size: 16px;
        margin: 8px;
      }
          core-toolbar {
      background-color: #0381f4;
    }

      #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  text-transform: uppercase;
  }
/*  .container {
    width: 80%;
    margin: 40px auto;
  } */
    @media (min-width: 480px) {
    #tabs {
      width: 200px;
    }
    container {
      width: 400px;
    }
  }
.home-main {
      display: block;
      position: relative;
      background-color: white;
      padding: 20px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 300;
    }

core-item{
  color: #0381f4;
}
.big{
      color: #0381f4;
      font-size: 24px;
    }
.head{
  color:#FFF;
}
.drwr{
  margin-left:10px;
}

.container{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;

}